body {
  background-color: #e8ffff;
  margin: 0;
  padding: 1;
}

.container {
  display: inline-flex;
  margin-top: 0;
  background-color: #58f4f4;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

.container .logo {
  font-family: "Rammetto One", sans-serif;
  font-size: 40px;
  background-image: url("../img/line-6.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 120px;
}

.container-item {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

#hamburger {
  font-size: 40px;
}

.container .page-link {
  display: none;
}

header {
  font-family: "Rammetto One", sans-serif;
  font-size: 15px;
  /* background-color: #58F4F4; */
  padding: 1.5rem;
}

dt {
  display: none;
}

.image-container {
  display: inline;
}

.profile-image1,
.profile-image2,
.profile-image3 {
  width: 200px;
  height: 100px;
}

.footer-container {
  max-width: 598px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

/*footer {
    background-color: #FEFFC5;  
    font: italic; 
    line-height: 1;
    margin: 0;
}
*/

@media (min-width: 598px) {
  .container {
    flex-wrap: wrap;
    height: 110px;
  }
  .container p {
    margin: 0;
  }

  .container-item {
    margin-top: 0;
    padding: 0;
  }

  .container-item:nth-child(2) {
    display: none;
  }

  .container-item:nth-child(1) {
    width: 100%;
  }

  .container ul {
    margin-left: 5px;
    padding: 0;
  }
  .container .page-link {
    display: inline;
    font-family: "Inter", sans-serif;
    font-style: bold;
    font-size: large;
    font-weight: 400;
    margin: 0;
    padding-right: 10px;
    width: 500px;
  }
  
  .footer-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  dt {
    display: inline;
  }
}