body {
    background-color: #E8FFFF;
    margin: 0;
    padding: 0;
    font-family: 'Rammetto One';
}

/* .title {
    
    font-family: 'Rammetto One';
    font-weight: 400;
    font-size: 40px;
    line-height: 68px;
    text-align: left;
} */

footer {
    background-color: #FEFFC5;
}

.button{
    text-align: center;
    
}
nav {
    background-color: #58F4F4;
    padding: .5rem;
    /* line-height: 68px; */
    /* text-align: left; */
}
nav ul {
    margin: 0;
    padding: 0;
    /* display: inline; */
}

nav li {
    display: inline;
    margin-right: 0;
}

nav li:nth-of-type(3), nav li:nth-of-type(4) , nav li:nth-of-type(5)  {
    display: none;
}

nav li:nth-of-type(2) {
    /* s */
}

.material-icons:nth-of-type(1) {
    /* font-size: 50px; */
}


@media (min-width: 768px) {
    .menu-bar {
        display: none;
    }
    nav li:nth-of-type(3), nav li:nth-of-type(4) , nav li:nth-of-type(5) {
        display: inline;
    }

    body {
        background-position: center;
    }

    html {
        height: auto;
    }
}

@media (min-width: 992px) {
    .large-navbar {
        display: block;
    }

    nav {
        font-size: 1.5rem;
    }
}
